<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' >
    <title>Find and Replace</title>
    <title>Word Count!</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
