<div class="container">
  <h1>Word Count</h1>
  <form action="/test_word">
    <div class="form-group well">
      <label for="sentence">Enter your sentence below:</label>
      <input id="sentence" type="text" name="sentence" class="form-control">
      <br>
      <label for="word">Enter a word you would like to count from your sentence:</label>
      <input id="word" type="text" name="word" class="form-control">
      <button type="submit" class="btn btn-info">Submit</button>
    </div>
  </form>

  <h4>Your sentence is below:</h4>
  <h5><%= @sentence %></h5>
  <h4>The word you chose is below:</h4>
  <h5 class="margin"><%= @word %></h5>

  <div class="output well">
    <h3>Total times "<%= @word %>" is used:</h3>
    <h2><%= @sum %></h2>
  </div>
</div>
